/*Artfully created by Lily*/

body{
	font-family: Verdana, Arial, sans-serif, Helvetica;
	font-weight: normal;
	font-size: 14px;
	position: relative;
}

h3{
	font-weight: bold;
	font-size: 24px;
	background-color: #FF5733;
}

footer{
	
	position: absolute;
	background-color: #326872;
	color: white;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 1%;

}